.background{

    background: url(./photos/background/planet-g6db41e4ec_1920.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    
}

.banner{

  margin-left: 80px;

}



.teju{

    margin-left: 20px;

    color: hwb(0 94% 4% / 0.904);
    font-weight:bold;
    font-size: x-large;
    font-style: italic;

}



div{

    margin-top: 10ch;

    margin-left: 10ch;
}

ul {

  
    list-style-type: none ;
    margin: 2ch;
    padding: 0;

    border-radius: 10px;
  }

  li{

    margin-left: 5ch;
    display: inline;
    color: rgb(223, 230, 236);
    border-style: solid;
    font-size: 5ch;
  }

  .dec{
    text-decoration: none;
    color: aliceblue;
  }

  .deco{
    color: aliceblue;
    text-decoration: none;
    margin-left: 30ch;
  }






.rudra{
    margin-left: 110px;

    color: rgb(245, 250, 239);
    font-weight:bold;
    font-size: x-large;
    font-style: italic;

}

.ph{

    margin-right: 30px;

   animation: alternate-reverse;
}

.head{
    color: blue;

    margin-left: 40%;

    font-display: inherit;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.photos{

    border:  30px;
    border-radius: 30px;

    margin-right: 30px;
}

h3{

    color: rgba(241, 241, 245, 0.959);

    margin-left: 50%;

    font-size: 5ch;
}

h4{

  margin-left: 20ch;
  margin-right: 20ch;

  color: honeydew;
  font-size: 3ch;
}