.background{

    background: url(./photos/background/fall-leaves-beige-background-vector_53876-126088.webp) ;
    padding: 0;
    margin-top: 100px;
    margin-left: 120px;
    background-size: 1920px 1080px;

}
.head{
    color: rgb(255, 102, 0);

    margin-left: 40%;

    font-display: inherit;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hh{

    margin-bottom: 30px;
  
}

.backhome{

    margin-left: 30px;
    

    color: rgba(190, 56, 190, 0.808);
    font-weight:bold;
    font-size: x-large;
    font-style: italic;

}

.top{

   

    color: rgba(190, 56, 190, 0.808);
    font-weight:bold;
    font-size: x-large;
    font-style: italic;
}




ul {

    background-color: aliceblue;
     list-style-type: none ;
     margin: 2ch;
     padding: 0;
 
     border-radius: 10px;
   }
 
   li{
 
     margin-left: 5ch;
     display: inline;
     
     background-color: aliceblue;
     font-size: 5ch;
   }
 
   .dec{
     text-decoration: none;
   }
 
   .deco{
     text-decoration: none;
     margin-left: 30ch;
   }
 